<div class="venue">
  <div class="container">
    <h1 class="location">Contact</h1>
    <img src="img/greenarrow.svg" alt="green arrow" class="spacer" />
    <p>
    The Met Office Informatics Lab is pleased to host the Graphical Web 2015
    </p>
    <p>
      For information please contact us at <a href="mailto:graphicalweb@informaticslab.co.uk">
        graphicalweb@informaticslab.co.uk</a>
    </p>
    <p>
      Twitter <a href="https://twitter.com/thegraphicalweb">@TheGraphicalWeb</a>
    </p>
    <p>
      <a href="http://www.metoffice.gov.uk/">www.metoffice.gov.uk</a>
    </p>
  </div>
</div>
