---
layout: default
---

<section class="jumbotron">

  {% include images/background.svg %}

  <div class="container">
    {% include images/logo.svg %}
    <p class="strapline">Visualising the Connected World</p>
  </div>
</section>

<section class="information">
  <div class="container">
    <p class="date">5-6 October 2017</p>
    <p class="location">Met Office <img src="img/gw-elements-06.svg" alt="a triangle" /> Exeter <img src="img/gw-elements-12.svg" alt="a triangle" /> United Kingdom</p>
    <p class="about">
      Graphical Web is an annual, global conference that showcases the many new open source technologies available for presenting visual information on the web.
    </p>
    <p class="about">
      The conference showcases best practice, new opportunities and future directions in the fast-changing world of web graphics and will appeal to a variety of professionals throughout the technology, data visualisation and graphics industries.
    </p>
  </div>
</section>
