---
layout: default
---

<section class="jumbotron">

  {% include images/background.svg %}

  <div class="container">
    {% include images/logo.svg %}
    <p class="strapline">Visualising the Connected World</p>
  </div>
</section>

<section class="information">
  <div class="container">
    <p class="date">1-4 November 2016</p>
    <p class="location">Met Office <img src="img/gw-elements-06.svg" alt="a triangle" /> Exeter <img src="img/gw-elements-12.svg" alt="a triangle" /> United Kingdom</p>
    <p class="about">
      Graphical Web is an annual, global conference that showcases the many new open source technologies available for presenting visual information on the web.
    </p>
    <p class="about">
      The conference showcases best practice, new opportunities and future directions in the fast-changing world of web graphics and will appeal to a variety of professionals throughout the technology, data visualisation and graphics industries.
    </p>
    <a href="https://www.eventbrite.com/e/the-graphical-web-tickets-21521884536" class=""><img class="actions" src="img/tickets-btn.svg" alt="Register Now" /></a>
    <a href="https://docs.google.com/forms/d/1-UsFZwK99tP-avvZAR8AalUl6qvhPr_1JUqZgBj8oDs/viewform" class=""><img class="actions" src="img/talk-btn.svg" alt="Talk at the Graphical web" /></a>
  </div>
</section>

<section class="sponsors">
  <div class="container">
    <h2>Platinum Sponsors</h2>
    <div class="row">

      <div class="col-md-offset-3 col-md-3">
        <img id="metoffice" src="/img/sponsor_metoffice.svg" alt="Met Office" />
      </div>
      <div class="col-md-3">
        <img src="/img/sponsor_google.svg" alt="Google" />
      </div>

    </div>
    <h2>Gold Sponsors</h2>
    <div class="row">

      <div class="col-md-offset-4 col-md-4">
        <img src="/img/sponsor_exetercitycouncil.svg" alt="Exeter City Council" />
      </div>

    </div>
    <h2>Silver Sponsors</h2>
    <div class="row">

      <div class="col-md-offset-4 col-md-4">
        <img src="/img/sponsor_aws.svg" alt="Amazon Web Services" />
      </div>

    </div>
    <div class="supporters">
    <h2>Supporters</h2>
    <div class="row">
      <div class="col-md-offset-3 col-md-3">
        <img src="/img/sponsor_OGC.gif" alt="OGC" />
      </div>
      <div class="col-md-3">
        <img src="/img/sponsor_w3c.svg" alt="W3C" />
      </div>

    </div>
  </div>
  </container>
</section>
