---
layout: default
---

<section class="jumbotron">

  {% include images/background.svg %}

  <div class="container">
    {% include images/logo.svg %}
    <p class="strapline">Visualising the Connected World</p>
  </div>
</section>

<section class="information">
  <div class="container">
    <p class="call"><a href="https://docs.google.com/forms/d/1-UsFZwK99tP-avvZAR8AalUl6qvhPr_1JUqZgBj8oDs/viewform">Call for speakers</a></p>
    <p class="date">1 - 4 November 2016</p>
    <p class="location">Met Office <span class="divider">//</span> Exeter <span class="divider">//</span> United Kingdom</p>
    <a href="https://www.eventbrite.com/e/the-graphical-web-tickets-21521884536" class=""><img class="register" src="img/reg_now-07.svg" alt="Register Now" /></a>
  </div>
</section>

<section class="sponsors">
  <div class="container">
    <h2>Platinum Sponsors</h2>
    <div class="row">

      <div class="col-md-12">
        <img src="https://s3-eu-west-1.amazonaws.com/informatics-webimages/articles/2016-03-30-year-one/monologo.svg" alt="Met Office" />
      </div>

    </div>
  </container>
</section>
