<div class="information">
  <div class="container">
    <p class="location">About the Met Office</p>
    <p>
    The Met Office is a global centre of excellence in weather and climate science, and

    the UK’s national weather service.
    </p>
    <p>
    Founded in 1854, the Met Office pioneered weather forecasting. Ever since then we

    have been at the forefront of developments in science and technology. Our

    reputation for scientific excellence has been built through the understanding of our

    scientists and our close links with international academia.
    </p>
    <p>
    As the UK’s national weather service, we generate forecasts 24 hours a day, 365

    days a year. Meanwhile our climate research plays a vital role in helping determine

    the worldwide response to climate change.
    </p>
    <p>
    The Met Office works closely with governments, individuals and organisations to

    share expert scientific knowledge and advice. Working in partnership with others we

    make sure people everywhere can access our forecasts across mobile, web and

    broadcast platforms.
    </p>
    <p>
    Find out more at <a href="http://www.metoffice.gov.uk/">www.metoffice.gov.uk</a>
    </p>
  </div>
</div>
