footer {

  margin-top: 30px;

  .menu {
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    padding-bottom: 20px;

    a {
      color: inherit;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    .divider {
      color: $blue;
    }
  }

  @media (min-width: 992px) {
    .menu-left {
      text-align: left;
    }
    .menu-right {
      text-align: right;
    }
  }
}
