/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "Open Sans";
  font-weight: 600;
  z-index: 0;
}

a {
  text-decoration: none;
  color: $green;
}

a:hover {
  color: $blue;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: dotted 1px black;
  display: inline;
  line-height: 1.7em;

  &::before {
    content: "\00a0\00a0\00a0"
  }

  &::after {
    content: "\00a0\00a0\00a0"
  }
}
