header {
  .navbar-inverse {
    background-color: $header;
    border-color: $header;

    .container {
      margin: 0px;
      width: auto;
      padding: 0px;
    }

    hr {
      border-top:1px dotted $white;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
    }

    .navbar-brand {
      padding: 0px;

      .logo {
        height: 50px;
      }
    }

    .navbar-menu {
      color: $white;
      margin-top: 8px;
      margin-right: -6px;
      text-align: right;

      .btn-menu {
        color: $white;
        // border: 1px white solid;
        letter-spacing: 2px;
        text-transform: uppercase;
        border-radius: 0px;
      }

      .btn-menu:hover {
        color: $green;
      }
    }
  }

  nav#menu {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 1031;

    background-color: black;

    color: $white;
    text-align: center;
    font-size: 2rem;
    line-height: 3em;
    letter-spacing: 0.1em;

    ul {
      list-style-type: none;
    }

    a {
      color: $white;
      text-decoration: none;
    }

    a:hover {
      color: $blue;
    }

    .close-menu {
      a {
        color: $green;
      }

      a:hover {
        color: $pink;
      }
    }
  }

  nav#menu:target {
    display: block;
  }
}
