<footer>
  <div>
    <div class="menu menu-left col-md-6">
      <a href="">Home</a>
      <span class="divider">//</span>
      <a href="">Get Involved</a>
      <span class="divider">//</span>
      <a href="">Affiliates</a>
      <span class="divider">//</span>
      <a href="">Contact</a>
      <span class="divider">//</span>
      <a href="">Archive</a>
    </div>
    <div class="menu menu-right col-md-6">
      <a href="">Cookies</a>
      <span class="divider">//</span>
      Crown &copy; {{ site.time | date: '%Y' }}
    </div>
  </div>
</footer>
