<footer>
  <div>
    <div class="menu menu-left col-md-6">
      <a href="index.html">Home</a>
      <span class="divider">//</span>
      <a href="conference.html">About</a>
      <span class="divider">//</span>
      <a href="venue.html">Venue</a>
      <span class="divider">//</span>
      <a href="https://www.eventbrite.com/e/the-graphical-web-tickets-21521884536">Tickets</a>
      <span class="divider">//</span>
      <a href="contact.html">Contact</a>
      <!--span class="divider">//</span>
      <a href="">Archive</a-->
    </div>
    <div class="menu menu-right col-md-6">
      <a href="cookies.html">Cookies</a>
      <img src="img/gw-elements-12.svg" alt="a triangle" />
      Crown &copy; {{ site.time | date: '%Y' }}
    </div>
  </div>
</footer>
