<footer>
  <div>
    <div class="menu menu-left col-md-6">
      <a href="index.html">Home</a>
      <span class="divider">//</span>
      <a href="venue.html">Venue</a>
      <span class="divider">//</span>
      <a href="contact.html">Contact</a>
      <span class="divider">//</span>
      <a href="">Archive</a>
    </div>
    <div class="menu menu-right col-md-6">
      <a href="">Cookies</a>
      <span class="divider">//</span>
      Crown &copy; {{ site.time | date: '%Y' }}
    </div>
  </div>
</footer>
