<header>

  <nav id="menu">
    <ul>
      <li class="close-menu"><a href="#" data-proofer-ignore><i class="fa fa-times"></i></a></li>
      <li><a href="index.html">Home</a></li>
      <li><a href="venue.html">Venue</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header col-xs-8">
        <a class="navbar-brand" href="index.html"><img class="logo" src="img/gw_element-01.svg" alt="{{ site.title }}" /></a>
      </div>
      <div class="navbar-menu navbar-right col-xs-4">
        <a href="#menu" class="btn btn-menu">Menu</a></i>
      </div>
    </div>
    <!--hr /-->
  </nav>

</header>
