<header>

  <nav id="menu">
    <div class="menu-header">
      <div>
        <a class="navbar-brand" href="index.html"><img class="logo" src="img/gw_element-01.svg" alt="{{ site.title }}" /></a>
      </div>
      <div class="pull-right">
        <a class="navbar-brand menu-close" href="#" data-proofer-ignore>Close</a>
      </div>
      <div style="clear: both;"></div>
    </div>
    <ul>
      <li><img class="left" src="img/gw-elements-06.svg" alt="a triangle" /><a href="index.html">Home</a></li>
      <li><a href="conference.html">About</a><img class="right" src="img/gw-elements-13.svg" alt="a triangle" /></li>
      <li><img class="left" src="img/gw-elements-12.svg" alt="a triangle" /><a href="venue.html">Venue</a></li>
      <li><a href="https://www.eventbrite.com/e/the-graphical-web-tickets-21521884536">Book</a><img class="right" src="img/gw-elements-07.svg" alt="a triangle" /></li>
      <li><img class="left" src="img/gw-elements-06.svg" alt="a triangle" /><a href="https://docs.google.com/forms/d/1-UsFZwK99tP-avvZAR8AalUl6qvhPr_1JUqZgBj8oDs/viewform">Talk</a></li>
      <li><a href="contact.html">Contact</a><img class="right" src="img/gw-elements-07.svg" alt="a triangle" /></li>
    </ul>
  </nav>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header col-xs-8">
        <a class="navbar-brand" href="index.html"><img class="logo" src="img/gw_element-01.svg" alt="{{ site.title }}" /></a>
      </div>
      <div class="navbar-menu navbar-right col-xs-4">
        <a href="#menu" class="btn btn-menu">Menu</a></i>
      </div>
    </div>
    <!--hr /-->
  </nav>

</header>
