/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "Open Sans";
  font-weight: 600;
}

.navbar-inverse {
  background-color: $header;
  border-color: $header;

  .container {
    margin: 0px;
    width: auto;
  }

  hr {
    border-top:1px dotted $white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  .navbar-brand {
    padding: 0px;

    .logo {
      height: 50px;
    }
  }

  .navbar-menu {
    color: $white;
    margin-top: 8px;
    margin-right: -6px;
    text-align: right;

    .btn-menu {
      color: $white;
      // border: 1px white solid;
      letter-spacing: 2px;
      text-transform: uppercase;
      border-radius: 0px;
    }

    .btn-menu:hover {
      color: $green;
    }
  }
}

.jumbotron {
  text-align: center ;
  background-color: $jumbotron;
  padding-bottom: 0px;


  .strapline {
    color: $white;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 300;
  }
}

.information {
    text-align: center;
    background-color: $white;

    .date {
      font-size: 26px;
      color: $pink;
    }

    .location {
      font-size: 18px;
      color: $blue;

      .divider {
        color: $pink;
      }
    }

    .register {
      height: 100px;
      margin: 30px;
    }
}

footer {

  .menu {
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    padding-bottom: 20px;

    .divider {
      color: $blue;
    }
  }

  @media (min-width: 992px) {
    .menu-left {
      text-align: left;
    }
    .menu-right {
      text-align: right;
    }
  }
}
