/* Site colours */
$jumbotron: #5e5e5e;
$white: #FFFFFF;
$pink: #E566A2;
$blue: #37B8BD;
$green: #bfca46;
$header: #4D4D4D;

$logo_blue: #36B7BC;
$logo_green: #BEC945;
$logo_pink: #E466A1;
$logo_pink_strong: #E5007E;
$logo_white: #FFFFFF;
