/* Logo Colours */
$logo_blue: #36B7BC;
$logo_green: #BEC945;
$logo_pink: #E466A1;
$logo_white: #FFFFFF;

/* Animations */
@-webkit-keyframes color-cycle {
  0% { fill: $logo_pink; }
  50% { fill: $logo_green; }
  100% { fill: $logo_blue; }
}

@-webkit-keyframes grow {
  0% { transform: scale(0.0); }
  70% { transform: scale(1.05); }
  100% { transform: scale(1.0); }
}

@keyframes color-cycle {
  0% { fill: $logo_pink; }
  50% { fill: $logo_green; }
  100% { fill: $logo_blue; }
}

@keyframes grow {
  0% { transform: scale(0.0); }
  70% { transform: scale(1.05); }
  100% { transform: scale(1.0); }
}

/* Mixins */
@mixin color-cycle-animation($delay) {
  $time: 2;
  -webkit-animation: color-cycle #{$time + $delay}s ease infinite;
  animation: color-cycle #{$time + $delay}s ease infinite;
  -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
  animation-direction: alternate;
}

@mixin grow-animation($delay) {
  transform: scale(0.0);
  -webkit-transform: scale(0.0);
  transform-origin: 50% 50% 0;
  -webkit-transform-origin: 50% 50% 0;
  animation: grow 0.5s ease forwards;
  -webkit-animation: grow 0.5s ease forwards;
  animation-delay: #{$delay}s;
  -webkit-animation-delay: #{$delay}s; /* Chrome, Safari, Opera */
}

/* Style */
.animated-logo {
  width: 240px;

  .kaleider {
    @for $i from 1 through 2 {
      .inner polygon:nth-child(#{$i}n) {
        @include color-cycle-animation($i)
      }
    }

    .inner {
      @include grow-animation(0.05);
      fill: $logo_blue;
    }

    .outer {
      fill: $logo_green;
      @include grow-animation(0.1);
    }

    .accents {
      fill: $logo_pink;
      @include grow-animation(0.15);
    }
  }

  .text {
    @include grow-animation(0.2);
    fill: $logo_white;

    #a.triangle {
      fill: $logo_pink;
    }
  }
}
