.jumbotron {
  text-align: center ;
  background-color: $jumbotron;
  padding-bottom: 0px;
  position: relative;


  .strapline {
    color: $white;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 300;
  }
}

.information {
    text-align: center;
    background-color: $white;

    .date {
      font-size: 22px;
      font-weight: bold;
      color: $pink;
      margin-bottom: 0px;
      text-transform: uppercase;
    }

    .about {
      font-weight: 200;
      max-width: 60%;
      margin-top: 20px;
      margin-left: 20%;
    }

    .call {
      font-size: 26px;
      a {
        color: $green;
      }

      a:hover {
        color: $pink;
      }
    }


    .location {
      font-size: 18px;
      color: $blue;

      .divider {
        color: $pink;
      }

      img {
        height: 1em;
      }

    }

    .actions {
      height: 150px;
      margin: 30px;
    }
}

.sponsors {
  text-align: center;
  margin-top: 50px;

  h2 {
  }

  img {
    width: 200px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
