/* Keyframe Animations */
@keyframes color-cycle {
  0% { fill: $logo_pink; }
  50% { fill: $logo_green; }
  100% { fill: $logo_blue; }
}

@-webkit-keyframes color-cycle {
  0% { fill: $logo_pink; }
  50% { fill: $logo_green; }
  100% { fill: $logo_blue; }
}

@keyframes grow {
  0% {transform: scale(0.0); }
  70% { transform: scale(1.05); }
  100% { transform: scale(1.0); }
}

@-webkit-keyframes grow {
  0% { -webkit-transform: scale(0.0); }
  70% { -webkit-transform: scale(1.05); }
  100% { -webkit-transform: scale(1.0); }
}

@keyframes rotate {
  0% { transform: rotateZ(0deg);  }
  100% { transform: rotateZ(360deg);  }
}

@-webkit-keyframes rotate {
  0% { -webkit-transform: rotateZ(0deg);  }
  100% { -webkit-transform: rotateZ(360deg);  }
}

/* Animation Mixins */
@mixin color-cycle-animation($delay, $time) {
  -webkit-animation: color-cycle #{$time + $delay}s ease infinite;
  animation: color-cycle #{$time + $delay}s ease infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@mixin grow-animation($delay) {
  transform: scale(0.0);
  -webkit-transform: scale(0.0);

  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;

  animation: grow 0.5s ease forwards;
  -webkit-animation: grow 0.5s ease forwards;

  animation-delay: #{$delay}s;
  -webkit-animation-delay: #{$delay}s;
}

@mixin rotate-animation($duration) {
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;

  animation: rotate #{$duration}s linear infinite;
  -webkit-animation: rotate #{$duration}s linear infinite;
}

/* Style */
.animated-logo {
  width: 240px;
  z-index: 2;

  .kaleider {

    @for $i from 1 through 2 {
      .inner polygon:nth-child(#{$i}n) {
        @include color-cycle-animation($i, 2)
      }
    }

    .inner {
      @include grow-animation(0.05);
      fill: $logo_blue;
    }

    .outer {
      fill: $logo_green;
      @include grow-animation(0.1);
    }

    .accents {
      fill: $logo_pink;
      @include grow-animation(0.15);
    }

  }

  .text {

    @include grow-animation(0.2);
    fill: $logo_white;

    #a.triangle {
      fill: $logo_pink;
    }

  }

  @media (min-width: 768px) {
    margin-top: 90px;
  }
}

.animated-background {
  height: 100%;
  margin-left: -50%;
  opacity: 0.15;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;

  @include grow-animation(0.5);

  @for $i from 1 through 7 {
    polygon:nth-child(#{$i}n) {
      @include color-cycle-animation($i, 10)
    }
  }

  .inner {
    @include rotate-animation(720);
    animation-direction: reverse;
  }

  .outer {
    @include rotate-animation(600);
  }

  .main {
    fill: $logo_blue;
  }

  .accents {
    fill: $logo_pink_strong;
  }

  @media (min-width: 768px) {
    width: 100%;
    margin-left: auto;
  }

}
