.venue {

  color: $header;

  text-align: center;

  padding-top: 50px;
  padding-bottom: 100px;

  a {
    img {
      height: 10em;
    }
  }

  .spacer {
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .address {
    p {
      font-weight: 200;
      color: $pink;
    }
  }

  .left {
    width: 20%;
    height: 600px;
    top: 150px;
    left: 0px;
    position: absolute;
    overflow: hidden;
    img {
      height: 100%;
      width: auto;
    }
  }

  .right {
    width: 20%;
    height: 600px;
    top: 150px;
    left: 80%;
    position: absolute;
    overflow: hidden;
    img {
      height: 100%;
      width: auto;
    }
  }

  .content {
    padding-top: 0px;
    margin-left: 20%;
    width: 60%;

    h1 {
      font-weight: 100;
      font-size: 18px;
    }

    p {
      font-weight: 100;
    }

    a {
      color: $header;
      text-decoration: underline;
    }
  }
}
