<div class="information">
  <div class="container">
    <p class="call"><a href="https://docs.google.com/forms/d/1-UsFZwK99tP-avvZAR8AalUl6qvhPr_1JUqZgBj8oDs/viewform">Call for speakers</a></p>
    <p class="date">1 - 4 November 2016</p>
    <p class="location">Met Office <span class="divider">//</span> Exeter <span class="divider">//</span> United Kingdom</p>
    <a href="https://www.eventbrite.com/e/the-graphical-web-tickets-21521884536" class=""><img class="register" src="img/reg_now-07.svg" alt="Register Now" /></a>
  </div>
</div>
